server:
  port: 8888
  
spring:
  cloud:
    config:
      server:
        default-label: main
        git:
          uri: https://github.com/josemorais/microservices-repo
          search-paths: fornecedor, loja, transportador